.csBlur {
    filter: blur(5px);
}
.csBlur:hover {
    filter: none;
}
.csDesat {
    filter: saturate(0);
}
.csDesat:hover {
    filter: none;
}
.csBoth {
    filter: saturate(0) blur(5px);
}
.csBoth:hover {
    filter: none;
}