/*body {
    background: rgb(0,0,0);
    margin: 0;
    padding: 0;
    color: #ffffff;
}*/
h3 {
    text-align: center;
}
#settings {
    color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 150px;
    width: 350px;
    border: 2px outset #171717;
    background-color: #171717;
    background-image: url('icons/icon128.png');
    background-position: 15px 0;
    background-repeat: no-repeat;
}
.fisk_preview {
    float: left;
}
#fiskbild {
    display: none;
    text-align: center;
}
#fiskbild > div {
    margin: 10px;
    border: 1px solid #000000;
}
#credits {
    margin-top: 10pt;
    font-size: 8pt;
}
a {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #9e9e9e;
}
